name: Deploy Flask Web App with Docker to AWS ECS

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build and push Docker image
        run: |
          # Set image name
          IMAGE_NAME="my-flask-app"
          # Build the Docker image
          docker build -t $IMAGE_NAME .
          # Tag the image for ECR
          docker tag $IMAGE_NAME:latest $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$IMAGE_NAME:latest
          # Push the image to ECR
          docker push $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$IMAGE_NAME:latest

      - name: Deploy to AWS ECS
        run: |
          # Update ECS service to use the new image
          aws ecs update-service --cluster my-cluster --service my-service --force-new-deployment --region $AWS_REGION
